<?xml version="1.0"?>
<!--
/**
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Meigee
 * @package     Meigee_JavascriptDefer
 * @copyright   Copyright (c) 2015 Meigee Sp.Z.o.o (https://www.meigeeteam.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Meigee_JavascriptDefer>
            <version>1.0.1</version>
        </Meigee_JavascriptDefer>
    </modules>
     <global>
        <helpers>
            <JavascriptDefer>
                <class>Meigee_JavascriptDefer_Helper</class>
            </JavascriptDefer>
        </helpers>
         <models>
             <javascriptDefer>
                 <class>Meigee_JavascriptDefer_Model</class>
             </javascriptDefer>
         </models>
     </global>
    <frontend>
        <events>
            <http_response_send_before>
                <observers>
                    <javascriptDefer>
                        <type>singleton</type>
                        <class>javascriptDefer/observer_html</class>
                        <method>replaceJs</method>
                    </javascriptDefer>
                </observers>
            </http_response_send_before>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <meigee>
                                            <title>Javascript Defer</title>
                                        </meigee>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <meigee>
            <js>
                <enable_javascriptDefer>0</enable_javascriptDefer>
                <enable_javascriptDefer_external_sources>1</enable_javascriptDefer_external_sources>
            </js>
        </meigee>
    </default>
</config>